/******* Review page table *********/
.table-container {
    @extend .col-md-12;
}

.table-row {
    padding: 10px 0;
    border-bottom: 1pt solid $medium;
    word-wrap: break-word;
}

/******* End of Review page table *********/

/********** Payment and discount info **********/

.discount-label {
    text-align: left;
    font-weight: bold;
    float: left;
    clear: left;
    padding-top: 20px;
    display: table;
}

.cost-info {
    text-align: right;
    font-weight: bold;
    padding: 5px;
}

.discount {
    padding-left: 5px;
    line-height: 1.42857143;
    border-radius: 10px;
    font-size: 1rem;
    border-color: $medium;
    box-shadow: none;
    float: left;
    clear: left;
    font-weight: bold;
    color: $dark;

    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid $success !important;
        margin-left: 5px;
    }
    .ng-invalid:not(form) {
        border-left: 5px solid $warning !important;
        margin-left: 5px;
    }
    .non-required {
        border-left: 5px solid $success !important;
        margin-left: 5px;
    }
}

/********** End of payment and discount info **********/

/********** Payment **********/

.payment-title {
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0;
}

.StripeElement {
    display: block;
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 $dark;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 $dark;
}

.StripeElement--invalid {
    border-color: $danger;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.card-row {
    @extend .col-md-12;
}

#card-title {
    text-align: center;
    display: block;
    font-weight: bold;
}

.email-info {
    text-align: center;
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

.email-container {
    @extend .col-md-12;
    background-color: $white !important;
    display: inline-flex;
    padding: 5px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 $dark;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    width: 105%;
    margin-left: 15px;
}

.email-container:focus {
    box-shadow: 0 1px 3px 0 $dark;
}

.email-field {
    width: 100%;
    background: transparent;
    font-weight: 300;
    border: 0;
    color: #31325f;
    outline: none;
    padding-right: 10px;
    padding-left: 10px;
    cursor: text;
}
/********** End of Payment **********/
