/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "colors";
@import "pages/attendee-form.component.scss";
@import "pages/review-page.component.scss";
@import "pages/thankyoupage.component.scss";
@import "~ngx-toastr/toastr.css";

/*************** Closed Registration Styles ***************/
.ClosedRegistration {
    color: $danger;
    font-size: 30px;
    text-align: center;
}

.ClosedRegistrationContainer {
    padding-top: 50px;
}

/*************** Generic page styling ***************/
html,
body {
    background-color: $light;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

.page {
    background-color: $light;
    height: 100%;
}

.page-border {
    @extend .offset-md-3;
    @extend .col-md-6;
    margin-bottom: 25px;
}

.page-header {
    @extend .offset-md-0;
    @extend .col-md-12;
    padding: 20px;
    text-align: center;
    color: $dark;

    .page-header-title {
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 30px;
        letter-spacing: 1px;

        a {
            color: $dark;
            text-decoration: none !important;
        }
    }

    .page-header-subtitle {
        font-size: 1.2rem;
    }

    .page-header-text {
        font-size: 1rem;
        font-weight: 300;
    }
}

/* Form Titles */
.form-title-container {
    margin: 5rem 0 30px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .title {
        background-color: $dark;
        color: $light;
        text-align: center;
        border-radius: 15px;
        font-weight: 400;
        font-size: 1.5rem;
        width: 19rem;

        p {
            margin: 2px 0;
        }
    }

    .total-info {
        font-weight: 400;
        font-size: 1.5rem;
        text-align: right;

        span {
            font-weight: 600;
            font-size: 2rem;
            color: $success;
            margin-left: 20px;
        }
    }
}

/* account for other small screen sizes */
@media all and (max-width: 1100px) {
    .form-title-container {
        justify-content: space-around;

        .title {
            margin-bottom: 20px;
        }
    }
}

/************ Form Control ***************/
.form-field-container {
    @extend .form-group;
    @extend .col-md-12;
}

.md-form-field-container {
    @extend .form-group;
    @extend .col-md-6;
}

.sm-form-field-container {
    @extend .form-group;
    @extend .col-md-4;
}

.form-group {
    background-color: $white !important;

    input,
    select,
    textarea {
        background-color: $white !important;
    }
    border: 0 !important;
    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid $success !important;
        /* green */
    }
    .ng-invalid:not(form) {
        border-left: 5px solid $danger !important;
        /* red */
    }
    .non-required {
        border-left: 5px solid $success !important;
        /* green */
    }
}

.form-row {
    @extend .row;
    background-color: inherit;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid $success;
}

.ng-invalid:not(form) {
    border-left: 5px solid $danger;
}

.non-required {
    border-left: 5px solid $success !important;
}

/************ End of Form Control ***************/

/* Nav buttons between form and review page */
.nav-buttons {
    display: block;
    text-align: center;

    .nav-button.active {
        color: $white;
        background-color: $success;
        border: none;
    }

    .nav-button {
        padding: 9px 16px;
        margin-right: 10px;
        line-height: 1.42857143;
        border-radius: 30px;
        font-size: 16px;
        width: 200px;
        background-color: $success;
        color: $white;
        -webkit-appearance: button;
    }

    .nav-button:hover,
    .nav-button:focus {
        color: $white;
        background-color: $success-shade;
        border: none;
    }

    .nav-button-active {
        color: $white;
        background-color: $success;
        border: none;
    }

    .next-button {
        float: right;
        margin-bottom: 50px;
    }

    .next-button:disabled,
    .next-button[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }

    .edit-button {
        background-color: transparent;
        border: 1px solid $dark;
        color: $dark;
    }
}
