<div class="form-title-container">
    <!-- Back to registration page -->
    <div class="nav-buttons">
        <button class="nav-button edit-button" routerLink="/form">Edit Info</button>
    </div>

    <div class="total-info">
        Total Registers:
        <span *ngIf="registers.length != undefined">{{registers.length}}</span>
        <span *ngIf="registers.length == undefined">0</span>
    </div>
</div>

<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)">

    <!-- Registration info review -->
    <div>
        <table class="table-container">
            <tr class="table-row">
                <th class="col-md-4">Name</th>
                <th class="col-md-2">Age</th>
                <th class="col-md-4">Days Attending</th>
                <th class="col-md-2">Cost</th>
            </tr>

            <tr *ngFor="let attendee of registers" class="table-row">
                <td class="col-md-4">
                    {{attendee.first_name}} {{attendee.last_name}}
                    <br>Gender: {{attendee.gender}}
                    <br>Shirt Size: {{attendee.t_shirt}}
                </td>
                <td class="col-md-2">{{attendee.age}}</td>
                <td class="col-md-4">{{attendee.days_attending}}</td>
                <td class="col-md-2">{{attendee.cost | currency }}</td>
        </table>


        <!-- total fee -->
        <div class="form-field-container">
            <label class="discount-label">Discount Code</label>
            <input class="discount" [(ngModel)]="discount" type="text" placeholder="Enter Promo Code" name="discount"
                (keyup)="checkDiscount()">
        </div>
        <div class="cost-info">Sub-Total: ${{original_cost}}</div>
        <div class="cost-info">Discount: - ${{cost_diff}}</div>
        <div class="cost-info">Total: ${{total_cost}}</div>
    </div>




    <!-- spacing -->
    <div style="height: 30px;"></div>

    <ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-zig-zag-deflect"
        [fullScreen]="true">
        <p style="color: white"> Processing Payment... </p>
    </ngx-spinner>


    <!-- Payment form -->
    <div>
        <h3 class="payment-title">Payment</h3>
        <label for="card-info" id="card-title">Card Information</label>

        <div class="card-row">
            <div id="card-info" #cardInfo></div>
            <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
        </div>

        <label class="email-info">Email For Receipt</label>
        <div class='card-row row'>
            <div class="email-container">
                <input #email (keyup)="onKey(email.value)" id="email" name="email" class="email-field"
                    placeholder="jane.doe@example.com" ngModel email required />
            </div>
        </div>
    </div>

    <!-- spacing -->
    <div style="height: 30px;"></div>

    <!-- submit button -->
    <div class="nav-buttons">
        <button [disabled]='button_disabled' class="nav-button next-button" type="submit">
            Pay {{total_cost | currency}}
        </button>
    </div>
    <div *ngIf="discountIncorrect"><b>Discount is incorrect. Please try typing it in all CAPS or remove it.</b></div>

    <!-- spacing -->
    <div style="height: 200px;"></div>

</form>