<div class="page-header">
    <div class="page-border">


        <h1 class="page-header-title"><a target="_blank" href="<Your Organization Website>">{{titleOne}}</a></h1>
        <h3 class="page-header-subtitle">{{titleTwo}}</h3>
        <!--    <img src="Your Camp Logo Here">-->
        <div class="page-header-text">
            <i>"{{themeVerse}}"</i>
            <br>
            <i>{{themeVerseReference}}</i>
        </div>

    </div>
</div>



<div class="page-border">
    <router-outlet></router-outlet>
</div>