<!-- spacing -->
<div style="height: 30px;"></div>

<h3 class="ty-header">
    Thank you for registering!
</h3>

<p class="ty-info">
    You will receive a confirmation email shortly within the next 24 hours.
    If not, contact us at: <b>Insert Contact Email here</b>
    <br>
    Looking forward to seeing you there!
</p>

<p class="ty-info">
    <i class="fa fa-exclamation-circle fa-2x" style="color: #f04141"></i>
    <b>
        Please print a <a target="_blank"
            href="<Insert Link to Waiver form>">Waiver Form</a>
        for each attendee to bring to camp.
    </b>
    <i class="fa fa-exclamation-circle fa-2x" style="color: #f04141"></i>
</p>


<div class="link-container">

    <a target="_blank" style="background-color: #3880ff" href="https://www.facebook.com/<Your Organization>/">
        Organization Facebook
    </a>

    <a target="_blank" style="background-color: #f04141"
        href="<Insert Link to Waiver form>">
        Waiver Form
    </a>

    <a target="_blank" style="background-color: #10dc60" href="<Organization website>">
        Organization Website
    </a>

    <a target="_blank" style="background-color: #a08104ab; color: white;" (click)="navigateToForm()">
        Register More People
    </a>

</div>

<p class="ty-footer">
    <br /><br />
    <br />
    If you have any questions, feel free to contact our Support Team at any of the following:
    <br />
    <b>Email: </b>Organization Contact Email<br />
    <b>Facebook: </b>Organization Facebook<br />
</p>